.App {
  text-align: center;
}

.hero {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textbox {
  font-size: 30px;
  background-color: #282c34;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  color: white;
}